body { 
 font-family: 'Jost';
}
.header { 
  padding: 30px 0;
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  width: 100%;
}
img{
  width: 100%;
  display: block;
}
.icon { 
  width: 20px;
}
.logo { 
  width: 130px;
}
.nav-content { 
  width: 392px;
  margin-left: 180px;
}
.nav-content ul li a { 
  text-decoration: none;
  color: black; 
  font-size: 15px;
  font-family: Jost;
  font-weight: 600;
 }
.nav-content li { 
  list-style: none;
}
.nav-icons { 
  margin-left: 32px;
}
.blog-container { 
  max-width: 1440px;
}
.blog-container img { 
  min-height: 374px
}
.blog-card { 
  position: relative;
}
.blog-card h3 { 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #83868c;
  text-transform: uppercase;
}
.blog-card h3:hover { 
  color: #ff91af;
}
.blog-card h1 { 
  position: relative;
  font-size: 22px;
  color: #111;
  font-weight: 500;
  transition: all .3s ease;
  padding-bottom: 15px;
  margin-bottom: 15px
}
.blog-card h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  width: 50px;
  background: #ff91af;
}
.blog-card h1:hover { 
  color: #ff91af;
}
.blog-card p { 
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  color: #83868c;
}
.date { 
  position: absolute;
  box-shadow: 0 3px 10px #00000014;
  width: 68px;
  height: 68px;
  background-color: #fff;
  color: #111;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  top: 36px;
  left: 36px;
  padding: 10px 0;
}
.day { 
  font-size: 14px;
  display: block;
}
.day::after { 
  content: "";
  background-color: #111;
  width: 27px;
  height: 1px;
  display: block;
  margin: 4px auto 0;
}
.month { 
  font-size: 10px;
  display: block;
  padding-top: 4px;
  letter-spacing: .3em;
}
.conf-container img { 
  border: 10px solid #ffdea6;
}
.conf-card {
  position: relative;
  overflow: hidden;
}
.conf-card img {
  width: 100%;
  height: auto;
  transition: filter 0.5s;
}
.conf-card:hover img {
  filter: brightness(80%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  background: linear-gradient(to bottom right, rgba(255, 128, 191, 0.8), rgba(255, 0, 204, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 10px;
}
.conf-card:hover .overlay {
  opacity: 1;
}
.text {
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
}
.price { 
  font-family: Jost;
  font-size: 15px;
  font-weight: 700;
  color: #ff91af;
}
.col-lg-3 {
  position: relative;
  overflow: hidden;
}
.col-lg-3 img {
 transition: filter 0.5s;
}
.underline { 
  width: 90px;
  height: 2px;
  background-color: #ff91af;
  border-radius: 20%;
  margin: 0 auto;
}
.icons-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  transition: transform 0.5s;
  opacity: 0;
}
.col-lg-3:hover .icons-container {
  transform: translateX(-50%) translateY(-50px);
  opacity: 1;
}
.icon { 
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-holder {
  width: 46px;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  box-shadow: 0 15px 25px #00000014;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.icon-holder:hover {
  background-color: #ff91af;
}
.icon-holder:hover .icon {
  filter: brightness(0) invert(1);
}
.celebs-container { 
  /* background-image: url('../images/celebs-food.webp');
  height: 546px;
  max-width:100%; */
  background-repeat: no-repeat;
  position: relative;
}
.content-banner { 
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  width: max-content;
  padding: 5% 7%;
  background: rgba(255,255,255,.8);
  border-radius: 30px;
}
.content-banner h3 { 
  font-size: 50px;
  color: #111111;
}
.content-banner p { 
  font-size: 22px;
  color: #111111;
}
.content-banner button{ 
  display: block;
  font-family: Jost;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  padding: 15px 30px;
  letter-spacing: 1px;
  transition: all .3s;
  border-radius: 4px;
  margin: 0 auto;
  color: #f9f9f9;
  background: #111111;
}
.content-banner:after {
  content: "";
  position: absolute;
  bottom: -12px;
  top: -12px;
  left: -12px;
  right: -12px;
  border: 5px solid rgba(255,255,255,.9);
  border-radius: 40px;
  z-index: -1;
}
.footer-v1 { 
  background: #f9f9f9;
  padding: 50px 0 40px;
}
.footer-container { 
  max-width: 1440px;
}
.title-footer { 
  font-size: 18px;
  font-weight: 600;
}
.title-footer::after { 
  content: "";
  display: block;
  height: 1px;
  width: 30px;
  margin-top: 20px;
  background-color: #111
}
.footer-info ul { 
  list-style: none;
  margin-top: 20px;
  padding-left: 0px;
}
.footer-info ul li a { 
  font-weight: 400;
  line-height: 34px;
  color: #111;
  text-decoration: none;
  font-size: 15px;
}
.container-v1 { 
  max-width: 1440px;
}
.copyright { 
  border-top: 1px solid #eee;
  padding: 26px 0;
  background: #f9f9f9;
}
.copyright img { 
  width: auto;
}
.copyright p { 
  font-size: 14px;
  font-weight: 400;
}
.copyright span { 
  color: #6c6c6c!important;
}
.mt-23 { 
  margin-top: 23px;
}
.footer-info p { 
  font-size: 14px;
}
.slider-container { 
  position: relative;
}
.slider-content { 
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
}
.slider-content p { 
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 34px;
  margin: 0 0 15px;
  color: #fff;
}
.slider-content h2 { 
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 35px;
  letter-spacing: .05em;
  line-height: 80px;
  color: #fff;
}
.slider-content button { 
  color: #111111;
  background: #ffffff;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 40px;
  border: none;
}
.slick-prev {
z-index: 1; 
left: 0 !important;
}
.slick-next {
  left: 98% !important;
  background-image: url("../images/svgs/next.svg");
}
.slick-arrow { 
  border:  solid red 1px !important;
}
.slick-next { 
  background-image: url('./assets/images/svgs/next.svg');
  display: block;
  background-color: red;
  z-index: 99;
  width: 100px;
  height: 400px;
}
 